{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col">
        <div class="notes_list_heading">
            <h1>These are the notes</h1>
        </div>
    </div>
</div>

<div class="row">
    {% for note in notes %}
        <div class="col">
            <div class="card-header">{{note.title}}</div>
            <div class="card-body">
                <p>{{note.text|truncatechars:10}}</p>
            </div>
            <div class="card-footer">
                <a href="{% url "notes.details" pk=note.id  %}"> View Note </a>
            </div>
        </div>
    {% endfor %}
</div>

 {% endblock %}

